<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Material Symbols - Outlined Set -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- Material Symbols - Rounded Set -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
  <!-- Material Symbols - Sharp Set -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
</head>
<body>
<div class="card">
  <h1>Project</h1>
  <h1>Feature</h1>
  <h1>Actor</h1>
  <h1>Sprint</h1>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">ProjectName</a>
        <a href="#!" class="breadcrumb">Sprint Name</a>
      </div>
    </div>
  </nav>
  <h1>Story</h1>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Project Name</a>
        <a href="#!" class="breadcrumb">Sprint Name</a>
        <a href="#!" class="breadcrumb">Story Name</a>
      </div>
    </div>
  </nav>
  <h1>Task</h1>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Project Name</a>
        <a href="#!" class="breadcrumb">Sprint Name</a>
        <a href="#!" class="breadcrumb">Story Name</a>
        <a href="#!" class="breadcrumb">Task Name</a>
      </div>
    </div>
  </nav>
  <div class="card-content">
    <span class="card-title">Card Title</span>
    <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="collection">
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item active">Alvin</a>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
</div>
</body>
</html>
